<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.irene.calendar_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.ActivityLoading"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.ActivityHome"
            android:label="@string/title_activity_iniciar__sessio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />


        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Home.MainActivity" />

        <activity android:name=".Login.ActivityRegistre" />
        <activity android:name=".CompanieMenu.Creacio_Companyia" />
        <activity android:name=".CreacioEvent.Creacio_Events"></activity>

        <activity
            android:name=".Home.PestanyesActivity"
            android:label="@string/title_activity_secciones"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Home.MainActivity" />


        <activity android:name=".CompanyCreation.Creacio_Companyia" />
        <activity android:name=".CompanieMenu.creadorCalendari" />
        <activity android:name=".CompanieMenu.ConfiguracioCompanyia"></activity>

    </application>

</manifest>